 <p class="desc">Please choose one of the avilable color categories: </p>
  <nav>
          <ol class="category">
              <li><a class="purple" href="/purple">Purple</a></li>
              <li><a href="/blue">Blue</a></li>
              <li><a class="red" href="/red">Red</a></li>
          </ol>
  </nav>
